$primary-color-dark: #34495e;
$primary-color-light: #C5CAE9;
$primary-color: #ffffff;
$accent-color: #448AFF;
$text: #ffffff;
$text2: #000000;
$primary-text: #212121;
html{
  padding:0;
  margin:0;
  body {
      background-color: $primary-color;
      color: $text;
      font-family: "Roboto",sans-serif;
    display:block;
      margin:0;
      padding:0;
    #header{
      display:inline-block;
      margin:0;
      padding:0;
      height: 5em;
      width:100%;
      background-color:$primary-color-dark;
      padding: 15px 10px 10px 10px;
      h3{
        text-align: center;
        vertical-align: center;
        display:inline-block;
        margin: 0;
        padding:0;
        float:left;
        max-width:50%;
        height:100%;


      }
      li{
        text-align: center;
        vertical-align: center;
        float: right;
        display:inline-block;
        max-width:30%;
        height:100%;
        padding: 11px 0;
      }
    }
    .container{
      color: $text2;
      .signbtn{
        height:5em;
        margin:5px;
        width:100%;
        text-align: center;
         p{
           font-size:1.5em;
           vertical-align: center;
         }
      }
    }
    .overview{
      #calendar {
        max-width: 900px;
        margin: 0 auto;
        color: $text2;
      }
    }
    footer{
      color: $text2;
    }
  }
}

