html {
  padding: 0;
  margin: 0; }
  html body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: "Roboto",sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 0;
    /* Tooltip container */ }
    html body #header {
      display: inline-block;
      margin: 0;
      padding: 0;
      height: 5em;
      width: 100%;
      background-color: #34495e;
      padding: 15px 10px 10px 10px; }
      html body #header h3 {
        text-align: center;
        vertical-align: center;
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
        max-width: 50%;
        height: 100%; }
      html body #header button {
        text-align: center;
        vertical-align: center;
        float: right;
        display: inline-block;
        max-width: 30%;
        height: 100%;
        padding: 11px 0;
        color: white;
        background-color: transparent;
        border: none;
        font-size: large; }
    html body .container {
      color: #000000; }
      html body .container .signbtn {
        height: 5em;
        margin: 5px;
        width: 100%;
        text-align: center; }
        html body .container .signbtn p {
          font-size: 1.5em;
          vertical-align: center; }
    html body .overview {
      z-index: 0; }
      html body .overview #calendar {
        max-width: 900px;
        margin: 0 auto;
        color: #000000;
        z-index: 0; }
      html body .overview #control-list {
        color: #000000;
        width: 20%;
        float: left;
        margin-left: 10px;
        position: fixed;
        z-index: 5; }
        html body .overview #control-list .collapsible-body {
          overflow: auto; }
          html body .overview #control-list .collapsible-body table {
            display: inline-block; }
    html body .insert-form {
      float: none;
      z-index: 1 !important;
      margin: 0 auto;
      padding: 5px; }
    html body footer {
      color: #000000; }
    html body .hide {
      display: none; }
    html body .tooltip-div {
      position: relative;
      display: inline-block;
      /*#huname:hover{
        transition: color 0.25s;
        color: #bfbfbf;
      }*/
      /* Tooltip text */ }
      html body .tooltip-div .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
      html body .tooltip-div .tooltip-content {
        visibility: hidden;
        width: 180px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0 10px 0;
        border-radius: 6px;
        margin-top: 0;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 135%;
        left: 40%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
        /* Tooltip arrow */ }
        html body .tooltip-div .tooltip-content .tooltip-li {
          margin-top: 5px; }
        html body .tooltip-div .tooltip-content::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent  #555  transparent; }
      html body .tooltip-div .tooltip-visible {
        visibility: visible;
        opacity: 1; }

/*# sourceMappingURL=main.css.map */
