$primary-color-dark: #34495e;
$primary-color-light: #C5CAE9;
$primary-color: #ffffff;
$accent-color: #448AFF;
$text: #ffffff;
$text2: #000000;
$primary-text: #212121;
html{
  padding:0;
  margin:0;
  body {
      background-color: $primary-color;
      color: $text;
      font-family: "Roboto",sans-serif;
    display:block;
      margin:0;
      padding:0;
    z-index:0;
    #header{
      display:inline-block;
      margin:0;
      padding:0;
      height: 5em;
      width:100%;
      background-color:$primary-color-dark;
      padding: 15px 10px 10px 10px;
      h3{
        text-align: center;
        vertical-align: center;
        display:inline-block;
        margin: 0;
        padding:0;
        float:left;
        max-width:50%;
        height:100%;


      }
      button{
        text-align: center;
        vertical-align: center;
        float: right;
        display:inline-block;
        max-width:30%;
        height:100%;
        padding: 11px 0;
        color: white;
        background-color: transparent;
        border: none;
        font-size: large;
      }
    }
    .container{
      color: $text2;
      .signbtn{
        height:5em;
        margin:5px;
        width:100%;
        text-align: center;
         p{
           font-size:1.5em;
           vertical-align: center;
         }
      }
    }
    .overview{
      z-index:0;
      #calendar {
        max-width: 900px;
        margin: 0 auto;
        color: $text2;
        z-index:0;
      }
      #control-list{
        color: $text2;
        width: 20%;
        float:left;
        margin-left:10px;
        position: fixed;
        z-index:5;
        .collapsible-body{
          overflow: auto;
          table{
            display:inline-block;
          }
        }
      }
    }
    .insert-form{
      float: none;
      z-index:1!important;
      margin: 0 auto;
      padding: 5px;
    }
    footer{
      color: $text2;
    }
    .hide{
      display:none;
    }
    /* Tooltip container */
    .tooltip-div {
      position: relative;
      display: inline-block;

      .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      /*#huname:hover{
        transition: color 0.25s;
        color: #bfbfbf;
      }*/

      /* Tooltip text */
      .tooltip-content {
        visibility: hidden;
        width: 180px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0 10px 0;
        border-radius: 6px;
        margin-top: 0;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top:135%;
        left: 40%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;

        .tooltip-li{
          margin-top: 5px;
        }

        /* Tooltip arrow */
       &::after {
         content: "";
         position: absolute;
         bottom: 100%;
         left: 50%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: transparent transparent  #555  transparent;
       }


      }

      .tooltip-visible{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

